<section class="strategies" id="strategies_link">
	<div class="container">
		<section class="row container-title">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="text-center">
					<h3 class="title-section">Estrategias de implementación de políticas y proyectos de Desarrollo Orientado al Transporte</h3>
					<span>Oportunidades de desarrollo orientado al transporte bajo en emisiones</span>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="tabs-img"> 
					<img src="images/small_tools_diagram.jpg" alt="Diagrama de la Sección Instrumentos">
					<div class="">
						<a href ng-click="openTools()">
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="t-content">
			<h3>Objetivo</h3>
			<p>En esta sección se presentan tres casos de estudios específicos para las Zonas metropolitanas de Aguascalientes, Zona metropolitana de Guadalajara y Zona Metropolitana del Valle de México, que incluyen un análisis a nivel ciudad y corredor de tres dimensiones: el análisis del entorno construido e infraestructura, el marco legal y de planeación y el entorno político y de mercado.</p>
			<ul>
				<li>El análisis del entorno construido e infraestructura.</li>
				<li>El marco legal y de planeación.</li>
				<li>El entorno político y de mercado.</li>
			</ul>
		</section>
		<section class="t-content">
			<h3>Zona Metropolitana de Aguascalientes</h3>
			<p>El presente documento tiene el objetivo de presentar oportunidades y recomendaciones para llevar a cabo el Desarrollo Orientado al Transporte (DOT) en la Zona Metropolitana de Aguascalientes (ZMA).</p>
			<p>Se hace énfasis en las oportunidades de DOT alrededor del Sistema Integrado de Transporte (SIT), propuesto en el Programa Integral de Movilidad Urbana Sustentable (PIMUS), por el potencial de mitigación de emisiones que presenta.</p>
			<p>Se seleccionó la ciudad de Aguascalientes para este ejercicio debido a la creciente extensión territorial, la intensidad demográfica que presenta la zona, así como por el sistema integrado de transporte que se está planeando en la ciudad.</p>
			<a href="./downloads/strategies/Aguascalientes.pdf" download=""><i class="fa fa-cloud-download" target="_blank"></i>Oportunidades de desarrollo orientado al transporte bajo en emisiones en Aguascalientes</a>
		</section>
		<section class="t-content">
			<h3>Zona Metropolitana de Guadalajara</h3>
			<p>El presente documento tiene el objetivo de presentar oportunidades y recomendaciones para llevar a cabo el Desarrollo Orientado al Transporte (DOT) en la Zona Metropolitana del Valle de México.</p>
			<p>Se hace énfasis en las oportunidades de DOT alrededor del los Centros de Transferencia Modal (CETRAM), específicamente en Martín Carrera. Cabe señalar que el Programa de Acción Climática de la Ciudad de México (PACCM) considera este tipo de proyectos como necesarios para la disminución de gases de efecto invernadero (GEI) en la ciudad.</p>
			<p>Se seleccionó a la Zona Metropolitana del Valle de México debido a la alta consolidación de su sistema de transporte estructurado actual, así como de los proyectos planeados tanto en el Distrito Federal como en el Estado de México. Por lo tanto, esta estrategia explora cómo puede llevarse a cabo el DOT en zonas consolidadas de la ciudad que ya cuentan con una buena conexión con el transporte público.</p>
			<a href="./downloads/strategies/Guadalajara.pdf" download=""><i class="fa fa-cloud-download" target="_blank"></i>Oportunidades de desarrollo orientado al transporte bajo en emisiones en Guadalajara</a>
		</section>
		<section class="t-content">
			<h3>Zona Metropolitana del Valle de México</h3>
			<p>El presente documento tiene el objetivo de presentar oportunidades y recomendaciones para llevar a cabo el Desarrollo Orientado al Transporte (DOT) en la Zona Metropolitana de Guadalajara (ZMG), con énfasis, en cómo aprovechar la construcción de la nueva línea del tren ligero para reducir las emisiones de gases de efecto invernadero (GEI) mediante la reducción del uso del automóvil.</p>
			<p>Se seleccionó esta zona metropolitana debido al proceso de consolidación del transporte masivo que presenta: ya existen dos sistemas de transporte público masivo estructurado y se está expandiendo la red de tren ligero.</p>
			<a href="./downloads/strategies/Valle de Mexico.pdf" download=""><i class="fa fa-cloud-download" target="_blank"></i>Oportunidades de desarrollo orientado al transporte bajo en emisiones en ZMVM</a>
		</section>
	</div>
</section>