.about{
	background-color: #EEF2F5;
	position: relative;
	z-index:0;
	padding: 35px 0px;
}
.about{
	p{
		color: $color-title;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 0;
		padding: 0;
		a{
			font-weight: 500;
		}
	}
	h3{
		margin-top: 0;
		margin-bottom: 20px;
	}
}
.copyright{
	background-color: #ffffff;
	left: 0;
	margin: 0;
	padding: 35px 0px;
	text-align: center;
	width: 100%;
}
.copyright p{
	color: $color-title;
	display: block;
	font-size: inherit;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	width: 334px;
}
.copyright p a{
	font-weight: 600;
}
.copyright ul{
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 100%;
	padding: 0;
}
.copyright ul li{
	display: inline-block;
	padding-top: 30px;
}
.copyright ul li a{
	text-decoration: none;
}
.copyright ul li a:hover i.dotmx-twitter:before{
	@include transition(color 0.25s ease-in-out);
	color:#55acee !important;
}
.copyright ul li a:hover i.dotmx-facebook:before{
	@include transition(color 0.25s ease-in-out);
	color:#31478E !important;
}
@media (min-width: 768px){
	.about{
		padding: 35px 20px;
		p{
			padding: 0px 75px;
		}
	}
}