<section class="model">
	<div class="container">
		<section class="row container-title">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="text-center">
					<h3 class="title-section">Modelo para la estimación de la línea base y proyección de emisiones de gases de efecto invernadero</h3>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="tabs-img"> 
					<img src="./images/small_model_diagram.jpg" alt="Diagrama de la Sección Modelo">
					<div class="">
						<a href ng-click="openModel()">
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="t-content">
			<h3>Objetivo</h3>
				<p>El modelo es una herramienta que permite estimar el impacto de políticas públicas asociadas al uso del suelo y desarrollo urbano en las emisiones de gases de efecto invernadero (GEI), teniendo en cuenta las relaciones existentes entre la estructura urbana y el transporte, y la de este último con las emisiones. La metodología consiste en dos modelos.</p>
				<p>El primero trata de predecir los patrones de movilidad a raíz de los cambios en usos del suelo, y el segundo, estima las emisiones como resultado de los cambios en los patrones de movilidad. </p>
		</section>
		<section class="t-content">
			<h3>Documentos y archivos</h3>
			<div class="row downloads text-center">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<a href="./downloads/model/BaseDeDatos_y_herramienta.rar" title="Ciudades densas, ciudades bajas en emisiones" download="" target="_blank" style="text-decoration:none;">
					<i class="dotmx-data108"></i>
					</a>
					<h4>Base de Datos y herramientas</h4>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<a href="./downloads/model/Modelo para la estimación de reducción GEI.docx" title="Ciudades densas, ciudades bajas en emisiones" download="" target="_blank" style="text-decoration:none;">
					<i class="dotmx-pdf"></i>
					</a>
					<h4>Modelo para la estimación de reducción GEI</h4>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<a href="./downloads/model/Ciudades densas ciudades bajas en emisiones.pdf" title="Ciudades densas, ciudades bajas en emisiones" download="" target="_blank" style="text-decoration:none;">
					<i class="dotmx-Infographic"></i>
					</a>								
					<h4>Infografía</h4>
				</div>
			</div>
		</section>
	</div>
</section>