<section class="model">
	<div class="intro-model">
		<div class="wash"></div>
		<section class="container">
			<section class="row container-title">
				<h3 class="title-section">Modelo</h3>
				<span>Para la estimación de la línea base y proyección de emisiones de gases de efecto invernadero</span>
			</section>
		</section>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<h3>Objetivo</h3>
				<p>El modelo es una herramienta que permite estimar el impacto de políticas públicas asociadas al uso del suelo y desarrollo urbano en las emisiones de gases de efecto invernadero (GEI), teniendo en cuenta las relaciones existentes entre la estructura urbana y el transporte, y la de este último con las emisiones. La metodología consiste en dos modelos.</p>
				<p>El primero trata de predecir los patrones de movilidad a raíz de los cambios en usos del suelo, y el segundo, estima las emisiones como resultado de los cambios en los patrones de movilidad. </p>
		</section>
	</div>
	<div class="content-body" style="padding: 0 30px;">
		<section class="container t-content">
			<i class="lnr lnr-layers"></i><a ui-sref="descargas">Documentos y archivos relacionados</a>
		</section>
	</div>
</section>