.get-information{
	@include transition(right 0.30s linear);
	background-color: #ffffff;
	bottom: 0;
	font-family: "Lato",sans-serif;
	font-weight: 200;
	height: 100%;
	overflow-y: auto;
	padding:60px 15px;
	position: fixed;
	right: -100%;
	top: 0;
	width: 100%;
	z-index:5;
	h3{
		border-bottom: 1px solid #74BDB6;
		color: $color-title;
		display: inline-block;
		font-weight: 400;
		margin-bottom: 0px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	h4{
		margin: 20px 0 15px;
	}
	p{
		color: #455A64;
		font-weight: 300;
		margin-top: 20px;
		font-size: 18px;
	}
	i.dotmx-cross{
		cursor: pointer;
		display: block;
		float: right;
		text-align: right;
		&:before{
			color: #97A0AF;
			font-size: 40px;
		}
	}
	ul{
		>li{
			color: #455A64;
			font-size: 18px;
			font-weight: 500;
		}
		>ul{
			li{
				font-weight: 300;
				text-transform: inherit;
			}
		}
	}
	.template{
		display: inline-block;
	}
	&.show{
		right: 0;
	}
}
@media (min-width: 768px){
	.get-information{
		right: -600px;
		width: 600px;
		padding:60px 50px;
		&.show{
			right: 0;
			z-index: 5;
		}
	}
}