<section class="downloads">
	<div class="intro-downloads">
		<div class="wash"></div>
		<section class="container">
			<section class="row container-title">
				<h3 class="title-section">Documentos y archivos</h3>
			</section>
		</section>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<h3>Instrumentos</h3>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/instrumentos/Instrumentos-para-el-Desarrollo-Orientado-al-Transporte.pdf" download target="_blank">Instrumentos para el desarrollo orientado al transporte</a>
			</div>
			<div class="downloads">
				<i class="custom-xls"></i><a href="./descargas/instrumentos/Leyes-e-instrumentos-aplicables-por-estado.xlsx" download target="_blank">Leyes e instrumentos aplicables por estado</a>
			</div>
		</section>
		<section class="container t-content">
			<h3>Guía</h3>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/guia/Guía-de-implementación-de-políticas-y-proyectos-de-Desarrollo-Orientado-al-Transporte.pdf" download target="_blank">Guía de implementación de políticas y proyectos de Desarrollo Orientado al Transporte</a>
			</div>
		</section>
		<section class="container t-content">
			<h3>Estrategias</h3>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/estrategias/Aguascalientes.pdf" download target="_blank">Oportunidades de desarrollo orientado al transporte bajo en emisiones en Aguascalientes</a>
			</div>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/estrategias/Guadalajara.pdf" download target="_blank">Oportunidades de desarrollo orientado al transporte bajo en emisiones en Guadalajara</a>
			</div>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/estrategias/Valle-de-Mexico.pdf" download target="_blank">Oportunidades de desarrollo orientado al transporte bajo en emisiones en ZMVM</a>
			</div>
		</section>
		<section class="container t-content">
			<h3>Modelo</h3>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/modelo/Modelo-para-la-estimación-de-reducción-GEI.docx" download target="_blank">Modelo para la estimación de reducción GEI</a>
			</div>
			<div class="downloads">
				<i class="custom-infography"></i><a href="./descargas/modelo/Ciudades-densas-ciudades-bajas-en-emisiones.pdf" download target="_blank">Infografia</a>
			</div>
		</section>
		<section class="container t-content">
			<h3>Cartografía</h3>
			<div class="downloads">
				<i class="custom-database"></i><a href="./descargas/cartografia/Base-de-Datos-y-herramientas.rar" download target="_blank">Bases de datos y herramientas</a>
			</div>
			<div class="downloads">
				<i class="custom-zip"></i><a href="./descargas/cartografia/Cartografia-descargable.rar" download target="_blank">Base de datos cartográfica</a>
			</div>
		</section>
		<section class="container t-content">
			<h3>Otros documentos relacionados</h3>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/otros/Estándar-DOT-2.1.pdf" download target="_blank">Estándar DOT 2.1</a>
			</div>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/otros/Manual-de-participacion.pdf" download target="_blank">Manual de participación ciudadana</a>
			</div>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/otros/Guía-para-la-Redensificacion.pdf" download target="_blank">Guía para la redensificación</a>
			</div>
			<div class="downloads">
				<i class="custom-externallink"></i><a href="http://mexico.itdp.org/documentos/desarrollo-orientado-al-transporte-dot/" target="_blank">Desarrollo Orientado al Transporte</a>
			</div>
			<div class="downloads">
				<i class="custom-externallink"></i><a href="http://mexico.itdp.org/documentos/hacia-una-estrategia-de-desarrollo-orientado-al-transporte-para-el-distrito-federal/" target="_blank">Hacia una estrategia de desarrollo orientado al transporte para el Distrito Federal</a>
			</div>
			<div class="downloads">
				<i class="custom-externallink"></i><a href="http://mexico.itdp.org/documentos/reportes/un-mayor-desarrollo-gracias-a-cada-dolar-invertido-en-transporte-publico/" target="_blank">Un mayor desarrollo gracias a cada dolar invertido en transporte público</a>
			</div>
		</section>
	</div>
</section>