<section class="guide">
	<div class="intro-guide">
		<div class="wash"></div>
		<section class="container">
			<section class="row container-title">
				<h3 class="title-section">Guía</h3>
				<span>Implementación de políticas y proyectos de desarrollo orientado al transporte</span>
			</section>
		</section>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<h3>Objetivo</h3>
			<p>Este documento tiene como primer objetivo establecer un entendimiento común sobre el concepto y la utilidad del Desarrollo Orientado al Transporte (DOT) en las ciudades mexicanas para transitar a un desarrollo bajo en emisiones.
			<p>El segundo objetivo de este documento es delinear el proceso a seguir por los gobiernos locales para implementar políticas y proyectos piloto de desarrollo urbano orientado al transporte. En este sentido, este documento busca asistir a los gobiernos locales para que alcancen tal fin. </p><p>Es importante notar que esta guía considera al transporte público como un elemento preexistente en las ciudades o, al menos, en una fase avanzada de planeación o implementación.</p>
		</section>
	</div>
	<div class="cards">
		<div class="container">
			<h3>Pasos de implementación</h3>
			<div class="row">
				<card-steps></card-steps>
			</div>
		</div>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<i class="lnr lnr-layers"></i><a ui-sref="descargas">Documentos y archivos relacionados</a>
		</section>
	</div>
</section>
<section class="get-information" id="card-description">
	<i class="dotmx-cross" id="close-info"></i>
	<div class="template" ng-include="guide_information"></div>
</section>
<div id="bb" class="back-body"></div>