<section class="guide" id="guide_link">
	<div class="container">
		
		<section class="row container-title">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="text-center">
					<h3 class="title-section">Guía de implementación de políticas y proyectos de Desarrollo Orientado al Transporte</h3>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="tabs-img"> 
					<img src="./images/small_guide_diagram.jpg" alt="Diagrama de la Sección Guía">
					<div class="">
						<a href ng-click="openGuide()">
							<div class="work-item-info">
								<h4>Implementando DOT</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="t-content">
			<h3>Objetivo</h3>
			<p>Este documento tiene como primer objetivo establecer un entendimiento común sobre el concepto y la utilidad del Desarrollo Orientado al Transporte (DOT) en las ciudades mexicanas para transitar a un desarrollo bajo en emisiones.
			<p>El segundo objetivo de este documento es delinear el proceso a seguir por los gobiernos locales para implementar políticas y proyectos piloto de desarrollo urbano orientado al transporte. En este sentido, este documento busca asistir a los gobiernos locales para que alcancen tal fin. </p><p>Es importante notar que esta guía considera al transporte público como un elemento preexistente en las ciudades o, al menos, en una fase avanzada de planeación o implementación.</p>
		</section>
		<section class="t-content">
			<h3>Pasos de implementación</h3>
			<div class="row">
				<card-steps></card-steps>
			</div>
		</section>
		<section class="t-content">
			<h3>Documentos y archivos</h3>
				<div class="row text-center downloads">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<a href="assets/downloads/guide/Guía_de_implementación_de_políticas_y_proyectos_de_Desarrollo_Orientado_al_Transporte.pdf" title="Guía de implementación de políticas y proyectos de Desarrollo Orientado al Transporte" download="" target="_blank" style="text-decoration:none;">
							<i class="dotmx-pdf"></i>
							<h4>Guía de implementación de políticas y proyectos de Desarrollo Orientado al Transporte</h4>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<a href="assets/downloads/guide/Estándar_DOT_2.1.pdf" title="Estándar DOT 2.1" download="" target="_blank" style="text-decoration:none;">
							<i class="dotmx-pdf"></i>
							<h4>Estándar DOT 2.1</h4>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<a href="assets/downloads/guide/manual-de-participacion.pdf" title="Manual de participación ciudadana" download="" target="_blank" style="text-decoration:none;">
							<i class="dotmx-pdf"></i>
							<h4>Manual de participación ciudadana</h4>
						</a>
					</div>
				</div>
				<div class="row text-center downloads">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<a href="assets/downloads/guide/CartografíaDescargable.rar" title="Base de datos cartográfica" download="" target="_blank" style="text-decoration:none;">
							<i class="dotmx-rar"></i>
							<h4>Base de datos cartográfica</h4>
						</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<a href="assets/downloads/guide/Guia_para_la_Redensificacion.pdf" title="Guía para la Redensificación" download="" target="_blank" style="text-decoration:none;">
							<i class="dotmx-pdf"></i>
							<h4>Guía para la Redensificación</h4>
						</a>
					</div>
				</div>
		</section>
	</div>
</section>
<section class="get-information" id="card-description">
	<i class="dotmx-cross" id="close-info"></i>
	<div class="template" ng-include="guide_information"></div>
</section>
<div id="bb" class="back-body"></div>