<ul class="cb-slideshow">
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
</ul>
<section class="main" id="main">
	<div class="container">
		<div class="text-center title-content">
			<h1>Implementando el Desarrollo Orientado al Transporte</h1>
			<p>Hacia ciudades bajas en emisiones</p>
			<div class="mouse-icon">
				<div class="wheel"></div>
			</div>
		</div>
	</div>
</section>
<section class="logos">
	<div class="row text-center">
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<a href="http://www.sra.gob.mx/sraweb/" title="Página oficial de la SEDATU" target="_blank"><img src="./images/logo_sedatu.png" alt="logo SEDATU" width="275"></a>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<a href="http://www.semarnat.gob.mx/" title="Página oficial de la SEMARNAT" target="_blank"><img src="./images/logo_semarnat.png" alt="logo SEMARNAT" width="275"></a>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<a href="http://www.usaid.gov/where-we-work/latin-american-and-caribbean/mexico" title="Página oficial de USAID" target="_blank"><img src="./images/logo_usaid.png" alt="logo USAID" width="255"></a>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
			<a href="http://mexico.itdp.org/" title="Página oficial de ITDP México" target="_blank"><img src="./images/logo_itdp.png" alt="logo de ITDP México" width="200" height="auto"></a>
		</div>
	</div>
</section>
<section class="project" id="project_link">
	<div class="container">
		<div class="text-center">
			<h2 class="title-section">Proyecto DOT MX</h2>
		</div>
		<p><span>Instrumentos de política pública y mecanismos de desarrollo urbano para transitar a ciudades bajas en emisiones</span> es un proyecto financiado por la Agencia de los Estados Unidos para el Desarrollo Internacional (<a href="http://www.usaid.gov/where-we-work/latin-american-and-caribbean/mexico" title="Página oficial USAID" >USAID</a>), en el marco del Programa para el Desarrollo Bajo en Emisiones de México (MLED), y desarrollado por <a href="http://mexico.itdp.org/" title="Página oficial ITDP México">ITDP México</a> el cual tiene como objetivo apoyar a los gobiernos locales en la identificación de instrumentos de desarrollo urbano que ayuden a impulsar políticas de Desarrollo Orientado al Transporte que promuevan un desarrollo bajo en emisiones en las ciudades del país.</p>
	</div>
</section>
<section class="sections">
	<div class="container text-center">
		<h2 class="title-section">Secciones</h2>
		<div class="row section-content ">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<article>
					<img src="../images/tools.jpg" alt="">
					<span></span>
					<div>
						<h2>Instrumentos</h2>
						<p>Transitar a ciudades bajas en emisiones en el sector transporte</p>
						<a ui-sref="instrumentos" class="btn btn-lg btn-section">VER SECCIÓN</a>
					</div>
				</article>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<article>
					<img src="../images/guide.jpg" alt="">
					<span></span>
					<div>
						<h2>Guía</h2>
						<p>Guía de implementación de políticas y proyectos de dearrollo orientado al transporte</p>
						<a ui-sref="guia" class="btn btn-lg btn-section">VER SECCIÓN</a>
					</div>
				</article>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<article>
					<img src="../images/strategies.jpg" alt="">
					<span></span>
					<div>
						<h2>Estrategias</h2>
						<p>Oportunidades de desarrollo orientado al transporte bajo en emisiones</p>
						<a ui-sref="guia" class="btn btn-lg btn-section">VER SECCIÓN</a>
					</div>
				</article>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<article>
					<img src="../images/model.jpg" alt="">
					<span></span>
					<div>
						<h2>Modelo</h2>
						<p>Para la estimación de la línea base y proyección de emisiones de gases de efecto invernadero</p>
						<a ui-sref="guia" class="btn btn-lg btn-section">VER SECCIÓN</a>
					</div>
				</article>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<article>
					<img src="../images/strategies.jpg" alt="">
					<span></span>
					<div>
						<h2>Mapa</h2>
						<p>Oportunidades de desarrollo orientado al transporte bajo en emisiones</p>
						<a ui-sref="mapa" class="btn btn-lg btn-section">EXPLORAR</a>
					</div>
				</article>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<article>
					<img src="../images/model.jpg" alt="">
					<span></span>
					<div>
						<h2>Descargas</h2>
						<p>Para la estimación de la línea base y proyección de emisiones de gases de efecto invernadero</p>
						<a ui-sref="descargas" class="btn btn-lg btn-section">VER SECCIÓN</a>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>