<section class="calculator">
	<div class="intro-calculator">
		<div class="wash"></div>
		<section class="container">
			<section class="row container-title">
				<h3 class="title-section">Calculadora</h3>
				<span>Herramienta para la estimación de emisiones de Compuestos de Efecto Invernadero (CEI) en proyectos de Desarrollo Orientado al Transporte (DOT)</span>
			</section>
		</section>
	</div>
	<div class="content-body">
		<div class="container share-section" id="share-calculator">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://goo.gl/lkhRfq" data-text="Calculadora de beneficios" data-via="itdpmx" data-lang="es" data-hashtags="DotMx">Twittear</a>
		</div>
		<section class="container t-content">
			<p>Esta herramienta fue desarrollada por <a href="http://www.embarqmexico.org/" style="font-weight: 400;">CTS-Embarq México</a>, parte del supuesto de que el ambiente construido influye en la forma en que las personas que viven en ese ambiente se transportan. Con base en este supuesto, puede afirmarse que incorporar determinados criterios urbanos puede afectar las decisiones de movilidad de las personas para generar patrones de movilidad más sustentables, que a su vez derivan en menores emisiones de compuestos de efecto invernadero (CEI) a la atmósfera.</p>
			<p>Se reconoce también que existen otras variables que afectan las decisiones de movilidad de las personas (factores económicos, demográficos, entre otros); sin embargo, bajo el alcance actual este modelo se diseña para considerar solo los factores construidos, y la incorporación de factores socio-económicos queda como una sugerencia para la futura expansión del modelo. En síntesis, la secuencia de efectos sigue la siguiente dirección:</p>
			
			<h4>Entorno Urbano -> Patrón de Movilidad -> Emisiones de compuestos de efecto invernadero (CEI)</h4>
			<p>Además de esta secuencia de efectos, la escala de los impactos depende de la cantidad de personas que sean afectadas por el entorno urbano, ya que serán éstas las que definan la escala del transporte utilizado y, por lo tanto, la de las emisiones. Por esto, esta herramienta utiliza como unidad de magnitud a una persona que representa al conjunto de personas que se rigen bajo un determinado entorno urbano. Esta persona modelo es un promedio de los patrones de movilidad de los habitantes de una zona y facilita ajustar la escala de los impactos urbanos; así como comparar los efectos de un entorno urbano con los de otros, o con una combinación de éstos. Siguiendo esta lógica se construye la estructura fundamental del modelo en cuestión.</p>
			<br>
			<p>Para mayor información consultar <a href="http://www.embarqmexico.org/" style="font-weight: 400;">http://www.embarqmexico.org/</a></p>
			<div style="width: 400px;">
				<img src="../images/logo_ctsembarq.png" alt="" style="width: 100%;">
			</div>
			
		</section>
		
		
	</div>
	<div class="content-body" style="padding: 0 30px;">
		<section class="container t-content">
			<div class="downloads">
				<i class="custom-xls"></i><a href="./descargas/calculadora/Modelo_CEI_DOTv2.xlsx" download target="_blank">Calculadora de beneficios</a>
			</div>
			<div class="downloads">
				<i class="custom-pdf"></i><a href="./descargas/calculadora/" download target="_blank">Modelación para la identificación de línea base y medidas de mitigación de Emisiones de Compuestos de Efecto Invernadero para el DOT en la ZMG.</a>
			</div>
		</section>
	</div>
</section>
<footer id="about_link">
	<div class="about text-center">
		<div class="container">
			<h3 class="title-section">Acerca del proyecto</h3>
			<p>Este sitio web es posible gracias al generoso apoyo del pueblo de los Estados Unidos de América a través de la Agencia de los Estados Unidos para el Desarrollo Internacional (<a href="http://www.mledprogram.org/en/" title="México Low Emissions Development Program">USAID</a>), en el marco del Programa para el Desarrollo Bajo en Emisiones de México (MLED).<br><br>Los contenidos son responsabilidad de la Secretaría de Medio Ambiente y Recursos Naturales (<a href="http://www.semarnat.gob.mx/" title="Página oficial de la SEMARNAT">SEMARNAT</a>), la Secretaría de Desarrollo Agrario, Territorial y Urbano (<a href="http://www.sra.gob.mx/sraweb/" title="Página oficial SEDATU">SEDATU</a>) y el Instituto de Políticas para el Transporte y el Desarrollo (<a href="http://mexico.itdp.org/" title="Página oficial ITDP México">ITDP</a>), y no necesariamente reflejan el punto de vista de USAID o del Gobierno de los Estados Unidos.
			</p>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<p>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Implementando el Desarrollo Orientado al Transporte</span> por <a xmlns:cc="http://creativecommons.org/ns#" href="http://mexico.itdp.org/" target="_blank" property="cc:attributionName" rel="cc:attributionURL">ITDP México</a> se distribuye bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licencia Creative Commons Atribución-NoComercial-SinDerivar 4.0 Internacional</a>.
			</p>
			<ul style="display:inline-block;">
				<li style="padding-right:20px;"><a href="https://twitter.com/ITDPmx" title="ITDP México en twitter" target="_blank" style="color:inherit;"><i class="dotmx-twitter"></i></a></li>
				<li style="padding-right:20px;"><a href="https://www.facebook.com/itdpmx" title="ITDP México en facebook" target="_blank" style="color:inherit;"><i class="dotmx-facebook"></i></a></li>
				<!--<li style="line-height:30px;color:inherit;" id="share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://itdp.mx/dotmx" data-text="Implementando el Desarrollo Orientado al Transporte" data-via="ITDPmx" data-size="large" data-hashtags="DotMX">Tweet</a></li>-->
			</ul>
		</div>
	</div>
</footer>