<section class="tools">
	<div class="intro-tools">
		<div class="wash"></div>
		<section class="container">
			<section class="row container-title">
				<h3 class="title-section">Instrumentos para el Desarrollo Urbano</h3>
				<span>Transitar a ciudades bajas en emisiones en el sector transporte</span>
			</section>
		</section>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<h3>Objetivo</h3>
			<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
		</section>
		<section class="container t-content">
			<h3>Instrumentos Normativos</h3>
			<p>Estos instrumentos pueden ser incentivos positivos para el desarrollo de proyectos que se establezcan en los planes y programas de desarrollo urbano orientados al DOT. Sin embargo, también pueden ser barreras legales para conseguir dichos objetivos. Por ejemplo, las disposiciones jurídicas locales deben prever los casos en los que no se requieran o se simplifiquen las autorizaciones, permisos y licencias para el uso del suelo urbano, las construcciones, las subdivisiones de terrenos y demás trámites administrativos.</p>
			<p>Esto, considerando lo dispuesto en los planes o programas de desarrollo urbano y en las normas, criterios y zonificación que de éstos se deriven (LGAH, art. 36).</p>
		</section>
	</div>
	<div class="cards">
		<div class="container">
			<div class="row">
				<card-normativos></card-normativos>
			</div>
		</div>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<h3>Instrumentos Económicos</h3>
			<p>Son disposiciones establecidas en las leyes fiscales como gravámenes y al gasto público, los cuales permiten el financiamiento de inversiones públicas. Lo anterior sea con cargo al erario público, con participación privada o mediante la captura de valor generada por la inversión privada. Además dichos instrumentos pueden generar un cambio de comportamiento que incentiva o desincentiva ciertas actividades, incluido el desarrollo urbano.</p>
		</section>
	</div>
	<div class="cards">
		<div class="container">
			<div class="row">
				<card-economicos></card-economicos>
			</div>
		</div>
	</div>
	<div class="content-body">
		<section class="container t-content">
			<div class="downloads">
				<i class="custom-files"></i><a ui-sref="descargas">Documentos y archivos relacionados</a>
			</div>
		</section>
	</div>
</section>
<section class="get-information" id="card-description">
	<i class="dotmx-cross" id="close-info"></i>
	<div class="template" ng-include="template"></div>
</section>
<div id="bb" class="back-body"></div>