<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Instituciones a cargo del DOT</h3>
			<small class="visible">Paso 1</small>
		</div>
		<div class="card-action" guide-id="setGuide('g1')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Regulaciones e incentivos para DOT</h3>
			<small class="visible">Paso 2</small>
		</div>
		<div class="card-action" guide-id="setGuide('g2')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Análisis de mercado</h3>
			<small class="visible">Paso 3</small>
		</div>
		<div class="card-action" guide-id="setGuide('g3')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Diagnostico a nivel ciudad</h3>
			<small class="visible">Paso 4</small>
		</div>
		<div class="card-action" guide-id="setGuide('g4')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Elección de zonas</h3>
			<small class="visible">Paso 5</small>
		</div>
		<div class="card-action" guide-id="setGuide('g5')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Diagnostico a nivel estación</h3>
			<small class="visible">Paso 6</small>
		</div>
		<div class="card-action" guide-id="setGuide('g6')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Plan de implementación</h3>
			<small class="visible">Paso 7</small>
		</div>
		<div class="card-action" guide-id="setGuide('g7')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Estructura del proyecto</h3>
			<small class="visible">Paso 8</small>
		</div>
		<div class="card-action" guide-id="setGuide('g8')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Pre-Desarrollo</h3>
			<small class="visible">Paso 9</small>
		</div>
		<div class="card-action" guide-id="setGuide('g9')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Adquisición de suelo</h3>
			<small class="visible">Paso 10</small>
		</div>
		<div class="card-action" guide-id="setGuide('g10')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Diseño y construcción</h3>
			<small class="visible">Paso 11</small>
		</div>
		<div class="card-action" guide-id="setGuide('g11')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Venta y arrendamiento</h3>
			<small class="visible">Paso 12</small>
		</div>
		<div class="card-action" guide-id="setGuide('g12')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Monitoreo y evaluación</h3>
			<small class="visible">Paso 13</small>
		</div>
		<div class="card-action" guide-id="setGuide('g13')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card-steps">
		<div class="card-body">
			<h3>Participación ciudadana</h3>
			<small class="visible">Paso 14</small>
		</div>
		<div class="card-action" guide-id="setGuide('g14')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>