<h1>Instituciones a cargo del DOT</h1>
<p>Para promover proyectos de alta densidad y usos mixtos alrededor de transporte público en las ciudades que puedan mitigar las emisiones de carbono, es adecuado realizar un mapeo delas dependencias municipales y metropolitanas y estatales encargadas de la planeación del desarrollo urbano y la movilidad en la zona metropolitana con el fin de identificar que dependencia será el brazo implementador de una política pública para promover DOT según los siguientes criterios:</p>
<ul>
	<li>Facultades de planeación del desarrollo urbano</li>
	<li>Facultades de ejecución de proyectos</li>
	<li>Capacidad operativa</li>
	<li>Capacidad financiera</li>
	<li>Facultad de aprobación de proyectos</li>
	<li>Voluntad política</li>
	<li>Posibilidades de coordinación con diferentes independencias gubernamentales involucradas, sector privado y sociedad civil.</li>
</ul>