<h3>Instrumentos normativos de planeación</h3>
<p>Los instrumentos de planeación definen los propósitos, la estrategia general y la política pública de desarrollo urbano en un territorio determinado. Podemos catalogarlos de la siguiente manera:</p>
<ul>
	<li>Planes y Programas de Desarrollo</li>
	<ul>
		<li>Plan Nacional de Desarrollo</li>
		<li>Plan Nacional de Desarrollo Urbano</li>
		<li>Programas Básicos de Desarrollo Urbano</li>
		<li>Programas Derivados de Desarrollo Urbano</li>
	</ul>
	<li>Normas Generales de Ordenación (NGO)</li>
	<li>Áreas de Gestión Estratégica</li>
</ul>