<h1>Instrumentos normativos de control sobre el desarrollo</h1>
<p>Son disposiciones jurídicas para que las autoridades de desarrollo urbano mantengan el control de los usos de suelo, proyectos inmobiliarios y crecimiento de desarrollo urbano. Este tipo de instrumentos pueden servir a las autoridades de desarrollo urbano para controlar el crecimiento desordenado de las ciudades.</p>
<ul>
	<li>Zonificación</li>
	<li>Áreas no urbanizables</li>
	<li>Incorporación de predios</li>
	<li>Regularización de la tenencia de la tierra</li>
	<li>Fraccionamientos</li>
</ul>