<h1>Instrumentos normativos de coordinación</h1>
<p>Estos instrumentos reducen los costos de transacción de la coordinación entre las autoridades de desarrollo urbano. A pesar de que estos instrumentos no son exclusivos del desarrollo urbano, son clave para la implementación de los proyectos DOT, ya que, como hemos mencionado, una de las características del desarrollo urbano es la intervención de diferentes y variados actores.</p>
<ul>
	<li>Convenios administrativos</li>
	<li>Organismos auxiliares</li>
	<li>Mecanismos de coordinación en las Zonas Metropolitanas</li>
</ul>