<h1>Instrumentos normativos coercitivos</h1>
<p>Son disposiciones jurídicas que sancionan el incumplimiento de las obligaciones de desarrollo urbano. Podemos traducirlos como incentivos negativos que permiten la ejecución de los otros instrumentos. Su importancia radica en que sirven como amenaza de la legislación para desalentar cualquier intento de violar un precepto normativo. Las medidas de seguridad y sanciones administrativas son impartidas por la administración pública estatal y federal.</p>
<ul>
	<li>Medidas de seguridad</li>
	<li>Sanciones</li>
	<li>Delitos</li>
</ul>