<h3>Instrumentos normativos en leyes distintas a la de DU</h3>
<p>Son disposiciones normativas establecidas en leyes que no son de desarrollo urbano y que impactan en éste. Se realizó esta separación dentro de la clasificación de instrumentos normativos para distinguir los que podemos encontrar en leyes que no son de desarrollo urbano. Estos pueden ser clasificados dentro de los instrumentos de adquisición del suelo, de control del suelo, de gestión del desarrollo, de coordinación y coercitivos.</p>
<ul>
	<li>Leyes de expropiación estatales</li>
	<li>Leyes de movilidad</li>
	<li>Otras leyes</li>
</ul>