<h3>Instrumentos económicos de financiamiento</h3>
<h4>Financiamiento Tradicional</h4>
<p>Llamamos a estos mecanismos financieros tradicionales porque son utilizados en cualquier proyecto de financiamiento, no solamente en proyectos de desarrollo urbano o DOT. Dentro estos mecanismos identificamos a:</p>
<ul>
	<li>La deuda pública</li>
	<li>La bursatilización</li>
	<li>Las APPs.</li>
</ul>
<h4>Financiamiento de Desarrollo Urbano</h4>
<p>Además de los mecanismos tradicionales existen mecanismos de financiamiento especiales de desarrollo urbano. La ventaja de éstos es que no requieren integrar varios tipos mecanismos al momento de implementarlos, sino que por sí solos atienden a las necesidades de obra urbana y, algunos, a obra urbana relacionada con el transporte. Los mecanismos identificados fueron:</p>
<ul>
	<li>Las acciones de urbanización</li>
	<li>La transferencia de potencialidades</li>
	<li>Las Áreas de Desarrollo Económico (ADE)</li>
</ul>