.navbar-default{
	z-index: 20;
	.navbar-brand{
		padding: 8.5px 15px;
		h2{
			margin: 0;
		}
	}
	.navbar-toggle{
		border: 0;
		border-radius: 0;
		.icon-bar{
			background-color: $color-title;
		}
	}
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse{
	max-height: 360px;
}
.navbar-default .navbar-nav > li > a{
	font-size: 18px;
	padding: 12px 15px;
}
@media(min-width: 768px){
	.in{
		@include transition(height 0.25s ease-in-out);
	}
	.navbar-default{
		@include transition(all 0.25s ease-in-out);
		background-color: transparent;
		border-color: transparent;
		padding:20px 0;
		z-index: 10;
		.navbar-nav > li > a{
			@include transition(all 0.25s ease-in-out);
			border-bottom: 1px solid transparent;
			color: #ffffff;
			font-size: 16px;
			padding: 10px;
			&:hover{
				background-color: transparent;
				border-bottom: 1px solid #ffffff;
				color: #ffffff;
			}
		}
		.navbar-nav > .active > a,
		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus{
			@include transition(all 0.25s ease-in-out);
			background-color: transparent;
			border-bottom: 1px solid #ffffff;
			color: #ffffff;
		}
		&.sticky{
			background-color: #ffffff;
			border-color: rgba($color-title, 0.125);
			padding:initial;
			.navbar-nav > li > a{
				color: $color-title;
				border-bottom: 0;
				padding: 15px 10px;
				&:hover{
					background-color: rgba($color-title, 0.125);
					border-bottom: 0;
					color: $color-title;
				}
			}
			.navbar-nav > .active > a,
			.navbar-nav > .active > a:hover,
			.navbar-nav > .active > a:focus{
				background-color: rgba($color-title, 0.125);
				border-bottom: 0;
				color: $color-title;
			}
		}
	}
	.menu{
		right: 68px;
	}
}