<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos de planeación</h3>
		</div>
		<div class="card-action" card-id="setData('i1')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos de adquisición de suelo</h3>
		</div>
		<div class="card-action" card-id="setData('i2')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos de control sobre el desarrollo</h3>
		</div>
		<div class="card-action" card-id="setData('i3')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos de gestión del desarrollo</h3>
		</div>
		<div class="card-action" card-id="setData('i4')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos de coordinación</h3>
		</div>
		<div class="card-action" card-id="setData('i5')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos coercitivos</h3>
		</div>
		<div class="card-action" card-id="setData('i6')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos normativos en leyes distintas a la de DU</h3>
		</div>
		<div class="card-action" card-id="setData('i7')">
			<a>Mostrar información<i class="lnr lnr-question-circle"></i></a>
		</div>
	</article>
</div>