<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i1')">
		<div class="card-body">
			<h3>Instrumentos normativos de planeación</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i2')">
		<div class="card-body">
			<h3>Instrumentos normativos de adquisición de suelo</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i3')">
		<div class="card-body">
			<h3>Instrumentos normativos de control sobre el desarrollo</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i4')">
		<div class="card-body">
			<h3>Instrumentos normativos de gestión del desarrollo</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i5')">
		<div class="card-body">
			<h3>Instrumentos normativos de coordinación</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i6')">
		<div class="card-body">
			<h3>Instrumentos normativos coercitivos</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card" card-id="setData('i7')">
		<div class="card-body">
			<h3>Instrumentos normativos en leyes distintas a la de DU</h3>
			<small>Mostrar</small>
		</div>
	</article>
</div>