<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos económicos fiscales</h3>
		</div>
		<div class="card-action" card-id="setData('i8')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<article class="card">
		<div class="card-body">
			<h3>Instrumentos económicos de financiamiento</h3>
		</div>
		<div class="card-action" card-id="setData('i9')">
			<a>Mostrar información<i class="custom-question"></i></a>
		</div>
	</article>
</div>