section.project{
	background-color:#EEF2F5;
	padding: 35px 0px;
	z-index:0;
	.container{
		> div{
			h3{
				strong{
					font-weight: 400;
				}
			}
		}
		p{
			@include transition(all 0.25s ease-in-out);
			font-size:20px;
			font-weight: 300;
			line-height:1.75;
			span{
				font-weight:400;
			}
			a{
				font-weight:500;
			}
		}
	}
}
@media (min-width: 768px){
	section.project{
		padding: 35px 20px;
	}
}